* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #111111;
  font-family: sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}